import packages

In [1]:
import pandas as pd
import seaborn as sn

load in data

In [5]:
util_prices = pd.read_csv('pycaret_forecast/util_prices.csv')
weather_df = pd.read_csv('pycaret_forecast/weather_df.csv')
supply_demand = pd.read_csv('24_month_supply_and_demand_forecast.csv')
nat_gas_price = pd.read_csv('natural_gas_price_history_and_Forecast.csv')
coal_price = pd.read_csv('coal_prices_combined.csv')
electricity_mix = pd.read_csv('electricity_generation_primary_fuel_alberta.csv')

join data into one combined data frame

In [7]:
util_prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7671 entries, 0 to 7670
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               7671 non-null   int64
 1   index                    7671 non-null   int64
 2   $/MWh_Date               7671 non-null   object
 3   Daily_Average            7671 non-null   float64
 4   Daily_On Peak Average    7671 non-null   float64
 5   Daily_Off Peak Average   7671 non-null   float64
 6   30Ravg_Average           7671 non-null   float64
 7   30Ravg_On Peak Average   7671 non-null   float64
 8   30Ravg_Off Peak Average  7671 non-null   float64
dtypes: float64(6), int64(2), object(1)
memory usage: 539.5+ KB

In [8]:
util_prices.head()

,Unnamed: 0,index,$/MWh_Date,Daily_Average,Daily_On Peak Average,Daily_Off Peak Average,30Ravg_Average,30Ravg_On Peak Average,30Ravg_Off Peak Average
0,0,30,2000-01-01,18.70,22.60,10.90,39.54,48.20,22.21
1,1,29,2000-01-02,41.73,57.75,9.68,39.75,48.77,21.71
2,2,28,2000-01-03,34.27,39.45,23.91,39.84,48.89,21.73
3,3,27,2000-01-04,30.06,35.94,18.29,39.77,48.86,21.61
4,4,26,2000-01-05,30.27,34.82,21.17,39.15,47.96,21.53

In [9]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7671 entries, 0 to 7670
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 7671 non-null   int64
 1   Year                       7671 non-null   int64
 2   Month                      7671 non-null   int64
 3   Day                        7671 non-null   int64
 4   Max Temp (°C)              7671 non-null   float64
 5   Min Temp (°C)              7671 non-null   float64
 6   Mean Temp (°C)             7671 non-null   float64
 7   Heat Deg Days (°C)         7671 non-null   float64
 8   Cool Deg Days (°C)         7671 non-null   float64
 9   Total Rain (mm)            7671 non-null   float64
 10  Total Snow (cm)            7671 non-null   float64
 11  Total Precip (mm)          7671 non-null   float64
 12  Snow on Grnd (cm)          7671 non-null   float64
 13  Dir of Max Gust (10s deg)  7671 non-null   float64
dtypes: float64(10), int64(4)
memory usage: 839.1 KB

In [10]:
weather_df.head()

,Unnamed: 0,Year,Month,Day,Max Temp (°C),Min Temp (°C),Mean Temp (°C),Heat Deg Days (°C),Cool Deg Days (°C),Total Rain (mm),Total Snow (cm),Total Precip (mm),Snow on Grnd (cm),Dir of Max Gust (10s deg)
0,0,2000,1,1,-10.2,-18.6,-14.4,32.4,0.0,0.0,1.2,0.800000,0.0,0.0
1,1,2000,1,2,-17.1,-20.7,-18.9,36.9,0.0,0.0,0.0,0.000000,0.5,0.0
2,2,2000,1,3,-15.5,-22.2,-18.9,36.9,0.0,0.0,0.0,0.000000,0.5,0.0
3,3,2000,1,4,-12.8,-18.4,-15.6,33.6,0.0,0.0,0.0,0.000000,0.5,0.0
4,4,2000,1,5,-5.1,-14.7,-9.9,27.9,0.0,0.0,0.5,0.333333,1.0,0.0

In [11]:
supply_demand.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 713 entries, 0 to 712
Data columns (total 6 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Report Date                               713 non-null    object
 1   HE (Peak)                                 713 non-null    int64
 2   Total Expected Internal Supply (MW)       713 non-null    int64
 3   Import Capacity from BC,SK and MATL (MW)  713 non-null    int64
 4   AIL Load + Operating Reserves (MW)        713 non-null    int64
 5   Surplus (MW)                              713 non-null    int64
dtypes: int64(5), object(1)
memory usage: 33.5+ KB

In [12]:
supply_demand.head()

,Report Date,HE (Peak),Total Expected Internal Supply (MW),"Import Capacity from BC,SK and MATL (MW)",AIL Load + Operating Reserves (MW),Surplus (MW)
0,2021-05-17,17,11750,1053,10679,2124
1,2021-05-18,17,12289,1053,10357,2985
2,2021-05-19,17,12593,1053,10270,3376
3,2021-05-20,12,12464,1053,10317,3200
4,2021-05-21,12,12464,1053,10323,3194

In [13]:
nat_gas_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239 entries, 0 to 238
Data columns (total 16 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Date                                   239 non-null    object
 1   History_CADUSD                         124 non-null    float64
 2   Forward_Curve_CADUSD                   59 non-null     float64
 3   Forecast_CADUSD                        117 non-null    float64
 4   History_Henry_Hub_USD_per_MMBtu        124 non-null    float64
 5   Forward Curve_Henry_Hub_USD_per_MMBtu  115 non-null    float64
 6   Forecast_Henry_Hub_USD_per_MMBtu       117 non-null    float64
 7   History_AECO_USD_per_MMBtu             124 non-null    float64
 8   Forward_Curve_AECO_USD_per_MMBtu       58 non-null     float64
 9   Forecast_AECO_USD_per_MMBtu            117 non-null    float64
 10  History_Station 2_USD_per_MMBtu        124 non-null    float64
 11  Forward_Curve_Station 2_USD_per_MMBtu  58 non-null     float64
 12  Forecast_Station 2_USD_per_MMBtu       117 non-null    float64
 13  History_NBP_USD_per_MMBtu              123 non-null    float64
 14  Forward_Curve_NBP_USD_per_MMBtu        43 non-null     float64
 15  Forecast_NBP_USD_per_MMBtu             117 non-null    float64
dtypes: float64(15), object(1)
memory usage: 30.0+ KB

In [14]:
nat_gas_price.head()

,Date,History_CADUSD,Forward_Curve_CADUSD,Forecast_CADUSD,History_Henry_Hub_USD_per_MMBtu,Forward Curve_Henry_Hub_USD_per_MMBtu,Forecast_Henry_Hub_USD_per_MMBtu,History_AECO_USD_per_MMBtu,Forward_Curve_AECO_USD_per_MMBtu,Forecast_AECO_USD_per_MMBtu,History_Station 2_USD_per_MMBtu,Forward_Curve_Station 2_USD_per_MMBtu,Forecast_Station 2_USD_per_MMBtu,History_NBP_USD_per_MMBtu,Forward_Curve_NBP_USD_per_MMBtu,Forecast_NBP_USD_per_MMBtu
0,Feb-11,1.0126,NaN,NaN,4.01,NaN,NaN,3.59,NaN,NaN,3.28,NaN,NaN,8.64,NaN,NaN
1,Mar-11,1.0240,NaN,NaN,4.07,NaN,NaN,3.71,NaN,NaN,3.39,NaN,NaN,9.78,NaN,NaN
2,Apr-11,1.0436,NaN,NaN,4.27,NaN,NaN,3.84,NaN,NaN,3.45,NaN,NaN,9.72,NaN,NaN
3,May-11,1.0332,NaN,NaN,4.32,NaN,NaN,3.97,NaN,NaN,3.76,NaN,NaN,9.36,NaN,NaN
4,Jun-11,1.0238,NaN,NaN,4.53,NaN,NaN,4.12,NaN,NaN,3.82,NaN,NaN,9.35,NaN,NaN

In [15]:
coal_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        42 non-null     int64
 1   Coal Price  42 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 800.0 bytes

In [16]:
coal_price.head()

   Year  Coal Price
0  2009       43.33
1  2010       44.27
2  2011       46.24
3  2012       45.77
4  2013       45.03

In [17]:
electricity_mix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   province            46 non-null     object
 1   source              46 non-null     object
 2   desc                46 non-null     object
 3   year                46 non-null     int64
 4   Hydro               46 non-null     float64
 5   Wind                46 non-null     float64
 6   Biomass_Geothermal  46 non-null     float64
 7   Solar               46 non-null     float64
 8   Uranium             46 non-null     int64
 9   Coal                46 non-null     float64
 10  natural_gas         46 non-null     float64
 11  oil                 46 non-null     float64
dtypes: float64(7), int64(2), object(3)
memory usage: 4.4+ KB

In [18]:
electricity_mix.head()

,province,source,desc,year,Hydro,Wind,Biomass_Geothermal,Solar,Uranium,Coal,natural_gas,oil
0,Alberta,https://apps.cer-rec.gc.ca/ftrppndc/dflt.aspx?...,Electricity Generation - Primary Fuel (GWh),2005,2316.0,741.0,1725.17,0.0,0,43581.07,19568.76,509.44
1,Alberta,https://apps.cer-rec.gc.ca/ftrppndc/dflt.aspx?...,Electricity Generation - Primary Fuel (GWh),2006,1966.0,921.0,1855.17,0.0,0,44117.04,22063.15,860.08
2,Alberta,https://apps.cer-rec.gc.ca/ftrppndc/dflt.aspx?...,Electricity Generation - Primary Fuel (GWh),2007,2113.0,1430.0,1870.36,0.0,0,43868.23,22337.97,922.06
3,Alberta,https://apps.cer-rec.gc.ca/ftrppndc/dflt.aspx?...,Electricity Generation - Primary Fuel (GWh),2008,2150.0,1473.0,1917.39,0.0,0,42131.10,23347.10,635.87
4,Alberta,https://apps.cer-rec.gc.ca/ftrppndc/dflt.aspx?...,Electricity Generation - Primary Fuel (GWh),2009,1695.0,1558.0,1861.50,0.0,0,40805.00,26233.32,14.15

In [ ]:
df = util_prices
df['']