Example workflow using pycaret

In [10]:
import pandas as pd
from .pycaret_model.weather_scrape import *
from electricity_scrape import *

ModuleNotFoundError: No module named 'weather_scrape'

In [ ]:
#aeso tables that can currently be scraped by function
dl_tables = ['DdsChargeSummary', 'HistoricalPoolPrice', 'ASPStandbyOperatingReservePrice',
             'ASPActivation', 'ASPActiveOperatingReservePrice', 'ActualForecastWMRQH', 
             'DailyAveragePoolPrice', 'HistoricalSystemMarginalPrice', 'RegulatingReserves']

In [ ]:
#input parameters
#aeso inputs
startdate = '2021-03-01'
enddate = '2021-03-30'
dateformat = '%Y-%m-%d'
contenttype = 'html'
#additional weather inputs city and timeframe 1 = hourly, 2 = daily
city = 'yyc'

In [ ]:
#scrape all available tables for defined time range
for t in dl_tables:
    #dataframe name is prefixed with "aeso_"
    df_name = 'aeso_'+t
    exec(df_name +" = aeso_download_range('" + t + "', contenttype, startdate, enddate, dateformat)")

In [ ]:
#scrape hourly weather data for defined timeframe
weather_hourly = weather_dl_range(startdate, enddate, dateformat, city, 1, clean=True)
#scrape daily weather data for defined timeframe
weather_daily = weather_dl_range(startdate, enddate, dateformat, city, 2, clean=True)

In [ ]:
#check the downloaded aeso table
for t in dl_tables:
    #dataframe name is prefixed with "aeso_"
    df_name = 'aeso_'+t
    print('Dataframe Name: '+df_name)
    exec("print(" + df_name + ".head())")

In [ ]:
weather_hourly.head()

In [11]:

from pycaret.datasets import get_data
dataset = get_data('diamond')

   Carat Weight    Cut Color Clarity Polish Symmetry Report  Price
0          1.10  Ideal     H     SI1     VG       EX    GIA   5169
1          0.83  Ideal     H     VS1     ID       ID   AGSL   3470
2          0.85  Ideal     H     SI1     EX       EX    GIA   3183
3          0.91  Ideal     E     SI1     VG       VG    GIA   4370
4          0.83  Ideal     G     SI1     EX       EX    GIA   3171

In [12]:
#check the shape of data
dataset.shape

(6000, 8)

In [13]:

data = dataset.sample(frac=0.9, random_state=786)
data_unseen = dataset.drop(data.index)

data.reset_index(drop=True, inplace=True)
data_unseen.reset_index(drop=True, inplace=True)

print('Data for Modeling: ' + str(data.shape))
print('Unseen Data For Predictions: ' + str(data_unseen.shape))

Data for Modeling: (5400, 8)
Unseen Data For Predictions: (600, 8)

In [14]:
from pycaret.regression import *
exp_reg101 = setup(data = data, target = 'Price', session_id=123, normalize = True)

In [15]:
best = compare_models(exclude = ['ransac'])

In [16]:
models()

,Name,Reference,Turbo
ID,,,
lr,Linear Regression,sklearn.linear_model._base.LinearRegression,True
lasso,Lasso Regression,sklearn.linear_model._coordinate_descent.Lasso,True
ridge,Ridge Regression,sklearn.linear_model._ridge.Ridge,True
en,Elastic Net,sklearn.linear_model._coordinate_descent.Elast...,True
lar,Least Angle Regression,sklearn.linear_model._least_angle.Lars,True
llar,Lasso Least Angle Regression,sklearn.linear_model._least_angle.LassoLars,True
omp,Orthogonal Matching Pursuit,sklearn.linear_model._omp.OrthogonalMatchingPu...,True
br,Bayesian Ridge,sklearn.linear_model._bayes.BayesianRidge,True
ard,Automatic Relevance Determination,sklearn.linear_model._bayes.ARDRegression,False
par,Passive Aggressive Regressor,sklearn.linear_model._passive_aggressive.Passi...,True
ransac,Random Sample Consensus,sklearn.linear_model._ransac.RANSACRegressor,False
tr,TheilSen Regressor,sklearn.linear_model._theil_sen.TheilSenRegressor,False
huber,Huber Regressor,sklearn.linear_model._huber.HuberRegressor,True
kr,Kernel Ridge,sklearn.kernel_ridge.KernelRidge,False
svm,Support Vector Regression,sklearn.svm._classes.SVR,False
knn,K Neighbors Regressor,sklearn.neighbors._regression.KNeighborsRegressor,True
dt,Decision Tree Regressor,sklearn.tree._classes.DecisionTreeRegressor,True
rf,Random Forest Regressor,sklearn.ensemble._forest.RandomForestRegressor,True
et,Extra Trees Regressor,sklearn.ensemble._forest.ExtraTreesRegressor,True
ada,AdaBoost Regressor,sklearn.ensemble._weight_boosting.AdaBoostRegr...,True
gbr,Gradient Boosting Regressor,sklearn.ensemble._gb.GradientBoostingRegressor,True
mlp,MLP Regressor,sklearn.neural_network._multilayer_perceptron....,False
lightgbm,Light Gradient Boosting Machine,lightgbm.sklearn.LGBMRegressor,True

In [17]:
ada = create_model('ada')
print(ada)

AdaBoostRegressor(base_estimator=None, learning_rate=1.0, loss='linear',
                  n_estimators=50, random_state=123)

In [18]:
tuned_ada = tune_model(ada)
print(tuned_ada)

AdaBoostRegressor(base_estimator=None, learning_rate=0.05, loss='linear',
                  n_estimators=90, random_state=123)

In [19]:
predict_model(tuned_ada)

,Carat Weight,Cut_Fair,Cut_Good,Cut_Ideal,Cut_Signature-Ideal,Cut_Very Good,Color_D,Color_E,Color_F,Color_G,...,Polish_G,Polish_ID,Polish_VG,Symmetry_EX,Symmetry_G,Symmetry_ID,Symmetry_VG,Report_GIA,Price,Label
0,-0.354048,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,7059.0,7315.943631
1,-0.396450,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,5809.0,7315.943631
2,-0.163237,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,10641.0,8641.463847
3,-1.138493,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,2871.0,4024.857724
4,1.914484,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,21706.0,27516.784226
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1616,-0.226840,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,12906.0,7350.228758
1617,-1.053688,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,3235.0,4024.857724
1618,0.387995,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,9058.0,12748.734375
1619,-0.354048,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,5091.0,7315.943631
1620,1.554063,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,25354.0,27218.721910

In [20]:

final_ada = finalize_model(tuned_ada)

In [21]:
unseen_predictions = predict_model(final_ada, data=data_unseen)
unseen_predictions.head()

,Carat Weight,Cut,Color,Clarity,Polish,Symmetry,Report,Price,Label
0,1.53,Ideal,E,SI1,ID,ID,AGSL,12791,12888.906767
1,1.50,Fair,F,SI1,VG,VG,GIA,10450,12888.906767
2,1.01,Good,E,SI1,G,G,GIA,5161,7172.492974
3,2.51,Very Good,G,VS2,VG,VG,GIA,34361,30548.220465
4,1.01,Good,I,SI1,VG,VG,GIA,4238,7172.492974

In [22]:
from pycaret.utils import check_metric
check_metric(unseen_predictions.Price, unseen_predictions.Label, 'R2')

0.8285

In [24]:
save_model(final_ada,'Final ada Model 28Mar2021')

Transformation Pipeline and Model Succesfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True, features_todrop=[],
                                       id_columns=[], ml_usecase='regression',
                                       numerical_features=[], target='Price',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 numeric_strategy='...
                 ('dummy', Dummify(target='Price')),
                 ('fix_perfect', Remove_100(target='Price')),
                 ('clean_names', Clean_Colum_Names()),
                 ('feature_select', 'passthrough'), ('fix_multi', 'passthrough'),
                 ('dfs', 'passthrough'), ('pca', 'passthrough'),
                 ['trained_model',
                  AdaBoostRegressor(base_estimator=None, learning_rate=0.05,
                                    loss='linear', n_estimators=90,
                                    random_state=123)]],
          verbose=False),
 'Final ada Model 28Mar2021.pkl')